.panelWrapper {
    border: 1px solid var(--color-passive);
    padding: 16px;
    border-radius: 6px;
    background-color: white;
    margin: 30px 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 20px;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin: 0 4px;
}

.dayLabel {
    font-weight: 700;
    margin-bottom: 4px;
}

.date {
    font-size: 12px;
    margin-bottom: 8px;
}

.timeInput {
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;

    text-align: center;
}
