.toast {
    position: fixed; /* чтобы не зависел от родителя */
    bottom: 20px;
    right: 20px;
    background-color: var(--color-active);
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    animation: slideInOut 3s ease-in-out;
}

.toast.error {
    background-color: #f44336;
}

@keyframes slideInOut {
    0% { opacity: 0; transform: translateX(100%); }
    10% { opacity: 1; transform: translateX(0); }
    90% { opacity: 1; transform: translateX(0); }
    100% { opacity: 0; transform: translateX(100%); }
}
