/* components/Modal/Modal.module.css */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 230px;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modalContent {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
}